{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes Ingredients{% endblock %}

{% block body %}
    <div class="container mt-4">
      {% if not ingredients.items is same as([]) %}
        <h1>Mes ingrédients</h1>

        <div class="count mt-4">
        <h3> Nous avons {{ ingredients.getTotalItemCount }} ingrédients au total</h3>
        </div>
        <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ID</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nom</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prix</font></font></th>
                <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Date de création</font></font></th>
              </tr>
            </thead>
            <tbody>
                {% for ingredient in ingredients %}
                <tr class="table-primary">
                    <th scope="row"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.id }}</font></font></th>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.name }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.price }}</font></font></td>
                    <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ ingredient.createdAt|date('d/m/Y') }}</font></font></td>
                  </tr>
            {% endfor %}
            </tbody>
          </table>
          <div class="navigation d-flex justify-content-center">
            {{ knp_pagination_render(ingredients) }}
        </div>
        {% else %}
        <h4>Il n'y a pas d'ingrédients</h4>
        {% endif %}
    </div>
{% endblock %}
